/* Character */

table {
  text-align: left;
}

td {
  border-bottom: 1px solid #ccc;
  padding: 10px 0;
}

th {
  font-weight: bold;
}

.character-table {
  width: 100%;
}

.character__image img {
  border-radius: 50%;
  padding: 0 10px;
  width: 100px;
  height: 100px;
}

/* Loading */

.loading {
  width: 100px;
}

.modalButton {
  border: 1px solid #ccc;
  cursor: pointer;
  padding: 10px;
  font-size: 13px;
}

.modalButton:hover {
  background-color: #efefef;
}